* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;

  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;

  --font-asap: "Asap", serif;
  --font-inconsolata: "Inconsolata", serif;
  --font-maven: "Maven Pro", sans-serif;

  --title-lg: 700 56px/120% var(--font-asap);
  --title-md: 700 24px/120% var(--font-asap);
  --title-sm: 700 16px/120% var(--font-asap);
  --subtitle: 400 20px/120% var(--font-inconsolata);
  --text-md: 400 16px/140% var(--font-maven);
  --text-sm: 400 12px/140% var(--font-maven);
}

.container{

  max-width: 1366px;

} 

body{
  background-color: var(--gray-200);
  color: var(--gray-600);

}
h1{
  font: var(--title-lg);
}
h2{
  font: var(--title-md);
}
h3{
  font: var(--subtitle);
}


.content-tag{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-300);
  padding: 8px 16px;

  border-radius: 1000px;
  font: var(--text-md);
  letter-spacing: 0.04em;
  color: var(--gray-500);
}

