#intro {
  height: 100vh;
  background-image: url(../assets/images/Background_Intro.png);
  background-size: cover;


  &>div{
    display: flex;
    flex-direction: column;
  }
  img.avatar{
    margin: 0 auto;
    padding: 4px;
    width: 112px;
    border: 2px solid var(--red);
    border-radius: 50%;
  }

  .presentation{
    margin: 0 auto;
    text-align: center;
    max-width: 680px;
    margin-bottom: 90px;

    h3{
      margin-block: 56px 8px;
    }
    strong{
      font: var(--subtitle);
      color: var(--red);
    }

  }
  #tags{
    margin: 0 auto;
    display: flex;
    gap: 16px;

    p{
      font: var(--text-md);
    }

    img{
      margin-right: 8px;
    }
  }

  footer{
    margin: 0 auto;
    margin-top: 220px;

    img{
      width: 32px;
    }
  }
}

#projects{
  height: 100vh;



  h3{
    color: var(--red);
    text-align: center;
  }
  h2{
    text-align: center;
    margin-bottom: 56px;
  }
  .cards-projetos{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
    align-items: center;
    justify-content: center;
    text-align: start;
  }

  .card{
    width: 330px;
    height: 280px;
    background-color: var(--gray-300);
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid var(--gray-300);
    transition: 0.5s;
    img{
      box-sizing: border-box;
      max-width: 306px;
      border-radius: 8px;
      object-fit: cover;
      margin-bottom: 20px;
    }

    span{
      font: var(--title-sm);
    }
    p{
      color: var(--gray-500);
      margin-top: 8px;
    }
  }
  .card:hover{
    border: 1.5px solid var(--gray-400);
    transition: 0.5s;
  }

}

#services{
  height: 60vh;
  background-color: var(--gray-100);


  h3{
    color: var(--red);
    margin-bottom: 8px;
  }
  h2{
    margin-bottom: 56px;
  }

  .service-card{
    width: 280px;
    height: 155px;
    padding: 20px;
    border: 2px solid var(--gray-200);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: start;

    img{
      width: 48px;
      object-fit: cover;
      margin-bottom: 20px;
    }
    span{
      font: var(--title-sm);
      margin-bottom: 4px
    };

  }
}

#contact{
  height: 100vh;
  background-image: url(../assets/images/Background_Contacts.png);
  background-size: cover;

  h3{
    color: var(--purple);
  }
  p{
    font: var(--text-md);
    color: var(--gray-500);
  }

  .card-social{
    margin-top: 48px;
    display: grid;
    gap: 16px;
  }

  a{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    padding: 20px;
    background-color: var(--gray-300);
    border: 1px solid var(--gray-300);
    border-radius: 8px;
    position: relative;
  }
  a:hover{
    border-color: var(--blue);
    img {
      filter: invert(60%) sepia(34%) saturate(542%) hue-rotate(176deg) brightness(94%) contrast(88%);
    }
  }
  img:nth-child(2){
    position: absolute;
    right: 0;
    padding-right: 20px;
  }

}
